header{
    height: 150px;
    padding: 20px;
    text-align: right;
    background-image: url("images/nature-landscape-tree-pine-code-forest-1596066-pxhere.com.jpg");
    background-position-y: 350px;
    color: whitesmoke;
    background-size: 600px;
}
nav{
    background-color: lightslategray;
    color: whitesmoke;
    padding-left: 20px;
}
nav a{
    color: whitesmoke;
    text-decoration: unset;
}
nav li{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
}
nav ul{
    padding-left: 10px;
}
nav a:hover li{
    color: lightslategray;
    background-color: whitesmoke;
}
.jobb-sav{
    background-color: whitesmoke;
    color: lightslategray;
    padding-left: 10px;
}
.tartalom{
    background-color: whitesmoke;
    color: lightslategray;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    min-height: 50px;
    text-align: center;
    padding: 15px;
    background-color: lightslategray;
    color: whitesmoke;
}
body{
    margin: 0;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#grid-container{
    display: grid;
    grid-template-columns: auto;
}
.tartalom h2{
    text-align: center;
    font-variant: small-caps;
}
.jobb-sav h3{
    text-align: center;
}
.tartalom picture *{
    max-width: 50%;
    float: left;
    padding-right: 20px;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    display: none;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
@media only screen and (min-width: 600px){
    #grid-container{
        grid-template-columns: 25% 75%;
    }
    header{
        grid-column: 1/3;
        background-size: 1200px;
        background-position-y: 550px;
    }
    nav{
        grid-column: 1;
    }
    .jobb-sav{
        grid-column: 1;
    }
    .tartalom{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    footer{
        grid-column: 1/3;
    }
}
@media only screen and (min-width: 1200px){
    #grid-container{
        width: 1200px;
        grid-template-columns: 15% 60% 25%;
        margin: auto;
    }
    header{
        grid-column: 1/4;
        background-size: 1200px;
        background-position-y: 550px;
    }
    nav{
        grid-column: 1;
    }
    .jobb-sav{
        grid-column: 3/4;
        border-left: 2px solid lightslategray;
    }
    .tartalom{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    footer{
        grid-column: 1/4;
    }
}