.b{
    background-color: black;
    width: 100px;
    height: 100px;
}
.w{
    background-color: oldlace;
    width: 100px;
    height: 100px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}